$primaryColor: #21447C;
$secondayColor: #483575;
$neutralColor: #12101D;
$alertColor: #6F2234;

div.cardLogin {

  border-radius: 10px;
  background: linear-gradient(60deg, $primaryColor, $secondayColor);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px #4C68BB;
  width: 500px;
  color: white;

  input.input-form {
    text-align: center;
    border: 2px solid #4C68BB;
    padding: 14px 10px;
    outline: none;
    border-radius: 15px;
    transition: 0.25s;
    width: 100%;
  }

  input:focus{
    border-color: $primaryColor;

  }

}

hr {
  border-top: 1px solid white !important;
  margin: .5rem 0 .5rem 0 !important;
}