.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #182b3a;
  color: #fff;
  transition: all 0.5s;
  z-index: 2000;
  position: absolute;
  top: 95px;
  left: 40px;
  height: 755px;
  border-radius: 20px;
  display: none;
}

.sidebar.is-open {
  display: block;
  transition: all 0.5s;
}

.sidebar-header {
  border-radius: 20px 20px 0 0;
  background: #011627;
}

.sidebar-header h3{
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.nav-link.gray {
  color: gray !important;
  &:hover {
    transform: scale(1);
    transition: 0.1s;
  }
}

.nav-link {
  color: white !important;
  &:hover {
    transform: scale(1.05);
    transition: 0.1s;
  }
}

.menu-open {
  background: #6d7fcc;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: .5em;
  font-size: 2rem;
  cursor: pointer;
}
.side-menu {
  height: calc(100vh - 130px);
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #5466B3;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #3A4C99;
}