.aqua {
  background: linear-gradient(60deg, #68D6FC, #4C68BB);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(76, 104, 187, 0.6);
}

.pastel {
  background: linear-gradient(60deg, #6E83D8, #B876E5);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(110, 131, 216, 0.6);
}

.ocaso {
  background: linear-gradient(60deg, #ee4540, #c72c41);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(128, 19, 54, 0.6);
}

.amatista {
  background: linear-gradient(60deg, #341677, #202040);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(32, 32, 64, 0.6);
}

.coral {
  background: linear-gradient(60deg, #048BA8, #531CB3);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(83, 28, 179, 0.6);
}

.esmeralda {
  background: linear-gradient(60deg, #86BBD8, #28536B);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(40, 83, 107, 0.6);
}
